<h1>SHOW EMPLOYEE DETAILS</h1>
employeeid:<%= model.id %></br> 
employee name:<%= model.name %></br> 
employee email:<%= model.email %></br> 
employee salary:<%= model.salary %></br> 
employee address:<%= model.addres %></br>